.profile__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: min(50px, 3.125em);
    background-color: #fff;
    border-radius: 42px;
    padding: 20px 20px 30px;
    grid-area: 1 / 1 / 2 / 2;
}

.profile__image {
    max-width: 332px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;

    & * {
        width: 100%;
        background-color: #f2f2f2;
    }
}

.profile__data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90%;

    h2 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #000;
    }

    p {
        font-size: 1.5rem;
        font-weight: 500;
        color: #585f6a;
    }

    a {
        font-size: 1.25rem;
        font-weight: 500;
        text-decoration: underline;
        color: #409c84;

        margin-top: auto;
    }
}
