@use "nullstyle";
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900);

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    background: linear-gradient(#6076a8, #4dc5a5);
    font-family: "Montserrat";
    position: relative;
}
