.search {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0 0 auto;
    transition: 0.2s;

    position: relative;

    max-width: 1370px;

    &:focus-within {
        flex: 1 0 auto;
    }

    &:not(:focus-within):has(.search__input:not(:placeholder-shown)) {
        flex: 1 0 auto;
    }
}

.search__label {
    border: 5px #fff solid;
    border-radius: min(95px, 5.9375rem);
    padding-left: 25px;
}

@media only screen and (width <= 768px) {
    .search__label {
        padding-left: 20px;
    }
}

.search__input {
    flex: 0 0 auto;
    padding: min(20px, 1.25em);
    border-radius: min(95px, 5.9375rem);
    background-color: transparent;

    font-size: 1.5rem;
    color: #fff;

    transition: 0.2s;

    &::placeholder {
        color: #fff;
    }

    &:focus,
    &:active {
        flex: 1 0 auto;
    }

    &:placeholder-shown {
        flex: 0 0 0;
    }

    &:placeholder-shown:focus {
        flex: 1 0 auto;
    }

    &:not(:placeholder-shown) {
        flex: 1 0 auto;
    }
}

@media only screen and (width <= 768px) {
    .search__input {
        font-size: 1rem;
        padding: min(16px, 1em);
    }
}

.search__glass {
    width: min(42px, 2.625rem);
    transform: translateY(2px);
}

@media only screen and (width <= 768px) {
    .search__glass {
        width: min(16px, 1em);
    }
}
