.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #eee;
}

.button {
    color: #fff;
    text-wrap: nowrap;
    padding: 10px 20px;
    max-width: 100%;
}
